[
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] }
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15671 },
		{ ssl, true },
		{ ssl_opts, [
			{ cacertfile, "/etc/rabbitmq/ssl/cacert.pem" },
			{ certfile, "/etc/rabbitmq/ssl/localhost.crt" },
			{ fail_if_no_peer_cert, false },
			{ keyfile, "/etc/rabbitmq/ssl/localhost.key" },
			{ verify, verify_none }
		] }
	] }, {load_definitions, "/opt/definitions.json"} ] },
    { rabbitmq_web_stomp, [ { ssl_config, [
        { port, 15691 },
        { backlog, 1024 },
        { cacertfile, "/etc/rabbitmq/ssl/cacert.pem" },
        { certfile, "/etc/rabbitmq/ssl/localhost.crt" },
        { keyfile, "/etc/rabbitmq/ssl/localhost.key" },
        { password, "" }
    ] } ] }
].